/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.idea/
.DS_Store
.phpintel
Thumbs.db
/public/node_modules
/public/uploads/imagenes/*.jpg
/public/uploads/imagenes/*.bmp
/public/uploads/imagenes/*.png

