#btn-abrir-menu {
  margin-top:60px; 
  padding:10px 30px 10px 50px;
  margin-bottom: 10px;
}

#reloj {
  font-size: 17px;
  padding-left: 5px;
}

.capitalize{
  text-transform: capitalize;
}

.mayuscula{
  text-transform: uppercase;
}

.barra_inferior{
	background-color: #FFB177 !important;
}

.espacio_buttom{
	margin-bottom: 100px;
}

.espacio_buttom2{
  margin-bottom: 200px;
}

.espacio_buttom3{
  margin-bottom: 300px;
}

.espacio_buttom4{
  margin-bottom: 400px;
}

.fondo1{
  background-color: red;
}
.fondo2{
  background-color: blue;
}
.fondo3{
  background-color: yellow;
}

.dataTables_length {
  padding-bottom: 20px !important;
}

body{
  background: url('/img/background-imagen-1.png');
  background-size: 100%;
  height: 100%;
  width: 100%;
}
