/*#btn-abrir-menu {
  margin-top:60px; 
  padding:10px 30px 10px 50px;
  margin-bottom: 10px;
}*/

#reloj {
  font-size: 17px;
  padding-left: 5px;
}

.capitalize{
  text-transform: capitalize;
}

.mayuscula{
  text-transform: uppercase;
}

.barra_inferior{
	background-color: #FFB177 !important;
}

.espacio_top{
  margin-top: 8%;
}

.espacio_buttom{
	margin-bottom: 100px;
}

.espacio_buttom2{
  margin-bottom: 200px;
}

.espacio_buttom3{
  margin-bottom: 300px;
}

.espacio_buttom4{
  margin-bottom: 400px;
}

.fondo1{
  background-color: red;
}
.fondo2{
  background-color: blue;
}
.fondo3{
  background-color: yellow;
}

.dataTables_length {
  padding-bottom: 20px !important;
}

.backgroundPadre {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    background-image: url('/img/background-imagen-1.png');
}

.font-tag-p-15px p{
  font-size: 17px;
}

.ejemplo{
  background-color: #D7DADB; 
  border-radius: 10px;
  padding: 5px;
  opacity: 0.8;
}

.dropdown_menu{
  border-color: #21BA45 !important; 
  border-style: solid; 
  border-width: 1px;
  color:#21BA45 !important; 
}


.dropdown_menu a{
  color: #000000 !important;
}